.game-body {
    background-color: lightblue;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    box-sizing: border-box;
}

.game-header {
    width: 100%; /* Ensure the header spans the full width of the parent */
    box-sizing: border-box;
}

/* Digging styles */

.dig{
    cursor: pointer;
    width: 250px;
    height: 150px;
    border: 1px darkblue;
    margin: 10px;
    border-style: solid;
}

.dig.selected {
    background-color: lightblue;
  }

/* Upgrades syles */

  /* Shared styles for all upgrades */
.upgrade-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    border-radius: 25px;
}

/* Unique styles for each upgrade */
.SoftEarth {
    background-color: #00CECB;
}

.HardEarth {
    background-color: #00CECB;
}

.CompactedRocks {
    background-color: #00CECB;
}

/* Styles for the container */
.upgrades-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}